<!DOCTYPE html>
<html lang="en">
<!-- Phần Header của Website -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG //////////////  -->
    <script src="/js/moment.js"></script>
    <script src="/js/plotly.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/FileSaver.js"></script>
    <script src="/js/FC1_Common.js"></script>
    <script src="/js/FC2_SQL.js"></script>
    <script src="/js/FC3_Excel.js"></script>
    <script src="/js/FC5_Alarm.js"></script>
    <script src="/js/FC6_Login.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("<%= ipAddress %>") // IP server
    </script>
    <!-- ////////////// LOGO TRANG WEB //////////////  -->

    <link rel="apple-touch-icon" sizes="180x180" href="/images/Logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/Logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/Logo/favicon-16x16.png">
    <link rel="manifest" href="/images/Logo/site.webmanifest">
    <link rel="icon" href="/images/Logo/favicon.ico" type="image/x-icon">

    <!-- ////////////// GỌI CÁC CSS //////////////  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat+Alternates:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <link rel="stylesheet" href="/css/screen_Login.css">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/slidebar.css">
    <link rel="stylesheet" href="/css/screen_Auto_Panel.css">
    <link rel="stylesheet" href="/css/screen_Auto_Panel_s2.css">
    <link rel="stylesheet" href="/css/screen_Manu_Panel.css">
    <link rel="stylesheet" href="/css/screen_Manu_Panel_s2.css">
    <link rel="stylesheet" href="/css/screen_Auto.css">
    <link rel="stylesheet" href="/css/screen_Auto_s2.css">
    <link rel="stylesheet" href="/css/screen_Manu.css">
    <link rel="stylesheet" href="/css/screen_Manu_s2.css">
    <link rel="stylesheet" href="/css/screen_SQL.css">
    <link rel="stylesheet" href="/css/screen_Diagram.css">
    <link rel="stylesheet" href="/css/screen_Alarm.css">
    <title>Webserver for Automation System</title>

    <!-- //////////////////////// LOGIN FORM //////////////////////////-->
    <div id="login_hall"
        class="fixed z-[5] w-full h-full overflow-auto bg-[rgba(0,0,0,0.85)] text-base font-bold pt-[60px] left-0 top-0 font-serif">
        <div class="modal-content">
            <div class="wrapper animate">
                <div class="title"><img src="images/Logo/apple-touch-icon.png" class="max-w-[80px] max-h-[80px]"></div>
                <form>
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <input id="inputuser" type="text" placeholder="Username" required>
                    </div>
                    <div class="row">
                        <i class="fas fa-lock"></i>
                        <input id="inputpass" type="password" placeholder="Password" required>
                    </div>
                    <div class="pass"><a href="#">Forgot password?</a></div>
                    <div class="row button">
                        <input type="button" value="LOGIN" onclick="login()">
                    </div>
                    <div class="signup-link"><a href="mailto:minhthai160501@outlook.com.vn">Contact me</a> <button
                            class="w-[100px] h-[30px] bg-[#c42c2c] hover:bg-red-400 rounded-[5px] ml-8 text-white"
                            onclick="cancel()">Cancel</button></div>
                </form>
            </div>
        </div>
    </div>
    <!-- //////////////////////// END LOGIN FORM //////////////////////-->
</head>

<!-- Phần thân của Website -->

<body>
    <div id="logo-brand"
        class="h-[90px] w-[1437px] rounded-[10px] border-[outset] border-[5px] border-[#0000ab] ml-[5px] mt-[5px] bg-[#b6b6b6] bg-contain">
        <img src="/images/Logo/bk_name_en.png" class="max-w-[1437px] max-h-[80px]">
    </div>
    <!-- ////////////// Code cho slidebar////////////// -->
    <div id="slidebar">
        <figure>
            <img id="Auto_LED" alt="auto mode">
            <script>fn_SymbolStatus("Auto_LED", "Auto", "Q_Lamp_Auto")</script>
            <figcaption>Auto 1</figcaption>
        </figure>
        <figure>
            <img id="Manual_LED" alt="manual mode">
            <script>fn_SymbolStatus("Manual_LED", "Manual", "Q_Lamp_Manu")</script>
            <figcaption>Manual 1</figcaption>
        </figure>
        <figure>
            <img id="Auto_LED_s2" alt="auto mode">
            <script>fn_SymbolStatus("Auto_LED_s2", "Auto", "Q_Lamp_Auto_s2")</script>
            <figcaption>Auto 2</figcaption>
        </figure>
        <figure>
            <img id="Manual_LED_s2" alt="manual mode">
            <script>fn_SymbolStatus("Manual_LED_s2", "Manual", "Q_Lamp_Manu_s2")</script>
            <figcaption>Manual 2</figcaption>
        </figure>
        <!--Nút chọn màn hình Start-->
        <button id="btt_Screen_Start" class="logo_btn"
            onclick="fn_ScreenChangeMain('Scr_Start','Scr_Main','Scr_Main_s2','Scr_SQL','Scr_Diagram','Scr_Alarm','Scr_About','dia-weight1','dia-weight2','dia-weight3','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2'),fn_ScreenChange2('Screen_Manu','Screen_Auto'),fn_ScreenChange2('Screen_Manu_Panel','Screen_Auto_Panel'),fn_ScreenChange2('Screen_Manu_s2','Screen_Auto_s2'),fn_ScreenChange2('Screen_Manu_Panel_s2','Screen_Auto_Panel_s2');"><img
                src="/images/home.png" class="max-w-[30px] max-h-[30px]">Home</button>
        <!--Nút chọn màn hình Main-->
        <button id="btt_Screen_Main" class="logo_btn"
            onclick="fn_ScreenChangeMain('Scr_Main','Scr_Main_s2','Scr_About','Scr_Start','Scr_SQL','Scr_Diagram','Scr_Alarm','dia-weight1','dia-weight2','dia-weight3','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2'),fn_ScreenChange1('Screen_Auto','Screen_Manu'),fn_ScreenChange1('Screen_Auto_Panel','Screen_Manu_Panel'),fn_ScreenChange2('Screen_Manu_s2','Screen_Auto_s2'),fn_ScreenChange2('Screen_Manu_Panel_s2','Screen_Auto_Panel_s2');"><img
                src="/images/station.png" class="max-w-[30px] max-h-[30px]">Main
            1</button>
        <!--Nút chọn màn hình Main-->
        <button id="btt_Screen_Main_s2" class="logo_btn"
            onclick="fn_ScreenChangeMain('Scr_Main_s2','Scr_Main','Scr_About','Scr_Start','Scr_SQL','Scr_Diagram','Scr_Alarm','dia-weight1','dia-weight2','dia-weight3','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2'),fn_ScreenChange1('Screen_Auto_s2','Screen_Manu_s2'),fn_ScreenChange1('Screen_Auto_Panel_s2','Screen_Manu_Panel_s2'),fn_ScreenChange2('Screen_Manu','Screen_Auto'),fn_ScreenChange2('Screen_Manu_Panel','Screen_Auto_Panel');"><img
                src="/images/station.png" class="max-w-[30px] max-h-[30px]">Main
            2</button>
        <!--Nút chọn màn hình SQL-->
        <button id="btt_Screen_SQL" class="logo_btn_2"
            onclick="fn_ScreenChangeMain('Scr_SQL','Scr_Main','Scr_Main_s2','Scr_Start','Scr_Diagram','Scr_Alarm','Scr_About','dia-weight1','dia-weight2','dia-weight3','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2'),fn_ScreenChange2('Screen_Manu','Screen_Auto'),fn_ScreenChange2('Screen_Manu_Panel','Screen_Auto_Panel'),fn_ScreenChange2('Screen_Manu_s2','Screen_Auto_s2'),fn_ScreenChange2('Screen_Manu_Panel_s2','Screen_Auto_Panel_s2'),fn_SQL_Table_Show(),fn_SQL_Table_Show_s2();"><img
                src="/images/database.png" class="max-w-[30px] max-h-[30px]">Database</button>
        <!--Nút chọn màn hình Diagram-->
        <button id="btt_Screen_Diagram" class="logo_btn_2"
            onclick="fn_ScreenChangeMain('Scr_Diagram','Scr_Main','Scr_Main_s2','Scr_Alarm','Scr_SQL','Scr_About','Scr_Start','dia-weight1','dia-weight2','dia-weight3','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2'),fn_ScreenChange2('Screen_Manu','Screen_Auto'),fn_ScreenChange2('Screen_Manu_Panel','Screen_Auto_Panel'),fn_ScreenChange2('Screen_Manu_s2','Screen_Auto_s2'),fn_ScreenChange2('Screen_Manu_Panel_s2','Screen_Auto_Panel_s2');"><img
                src="/images/diagram.png" class="max-w-[30px] max-h-[30px]">Diagram</button>
        <!--Nút chọn màn hình Alarm-->
        <button id="btt_Screen_Alarm" class="logo_btn"
            onclick="fn_ScreenChangeMain('Scr_Alarm','Scr_Main','Scr_Main_s2','Scr_Diagram','Scr_SQL','Scr_About','Scr_Start','dia-weight1','dia-weight2','dia-weight3','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2'),fn_ScreenChange2('Screen_Manu','Screen_Auto'),fn_ScreenChange2('Screen_Manu_Panel','Screen_Auto_Panel'),fn_ScreenChange2('Screen_Manu_s2','Screen_Auto_s2'),fn_ScreenChange2('Screen_Manu_Panel_s2','Screen_Auto_Panel_s2'),fn_Alarm_Show(),fn_Alarm_Show_s2();"><img
                src="/images/alarm.png" class="max-w-[30px] max-h-[30px]">Alarm</button>
        <!--Nút chọn màn hình About-->
        <button id="btt_Screen_About" class="logo_btn"
            onclick="fn_ScreenChangeMain('Scr_About','Scr_Main','Scr_Main_s2','Scr_Alarm','Scr_Diagram','Scr_SQL','Scr_Start','dia-weight1','dia-weight2','dia-weight3','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2'),fn_ScreenChange2('Screen_Manu','Screen_Auto'),fn_ScreenChange2('Screen_Manu_Panel','Screen_Auto_Panel'),fn_ScreenChange2('Screen_Manu_s2','Screen_Auto_s2'),fn_ScreenChange2('Screen_Manu_Panel_s2','Screen_Auto_Panel_s2');"><img
                src="/images/info.png" class="max-w-[30px] max-h-[30px]">About</button>
    </div>
    <!--////////////// Code cho Login /////////////-->
    <div id="loginbar"
        class="rounded-[10px] absolute left-[5px] top-[726px] w-[198px] h-[140px] bg-[#030391] text-[#ffffff] text-[14px] font-bold font-['Times_New_Roman',_Times,_serif] cursor-pointer select-none text-center text-xl">
        <br>
        <label for="userselect"> User :</label>
        <select name="userselect" id="userselect" class="w-32 h-5 text-[#000000] text-sm text-center" disabled>
            <option value="">GUEST</option>
            <option value="ad">ADMIN</option>
            <option value="us1">USER 1</option>
            <option value="us2">USER 2</option>
        </select>
        <!--Nút đăng nhập-->
        <button id="btt_Login"
            class="border-[outset] border-[3px] border-[#5ae766] rounded-[999px] bg-[#129c35] text-center inline-block absolute w-[76px] h-[40px] left-[15px] bottom-[20px] select-none"
            onclick="window.location.reload();"><img src="/images/login.png"
                class="max-w-[30px] max-h-[30px] m-auto"></button>
        <!--Nút đăng xuất-->
        <button id="btt_Logout"
            class="border-[outset] border-[3px] border-[#c75858] rounded-[999px] bg-[#c42c2c] text-center inline-block absolute w-[76px] h-[40px] right-[15px] bottom-[20px] select-none"
            onclick="window.close()"><img src="/images/logout.png" class="max-w-[30px] max-h-[30px] m-auto"></button>
    </div>
    <!--////////////// ABOUT /////////////-->
    <div id="Scr_About"
        class="rounded-[10px] border-[outset] border-[5px] border-[#0000ff] absolute left-[208px] top-[100px] w-[1234px] h-[766px] bg-[#1488D8] select-none font-[Montserrat] font-bold flex">
        <div class="w-[500px] h-[300px] border-[inset] border-2 border-[#000000] pl-0 ml-3 mt-3 text-left text-xl">
            <div class="w-[496px] h-[80px] bg-gray-300 pt-1 pl-1 border-b-4 border-blue-700">
                <img src="/images/Logo/bk_name_en.png" class="max-w-[400px] max-h-[60px]">
            </div>
            <h2 class="text-white font-bold ml-1"> Topic : </h2>
            <p class="text-xl ml-1">Buiding Webserver Application for Automation System</p>
            <p class="text-white font-bold ml-1"> Instructor:</p>
            <p class="ml-5 text-[#030391] text-lg">PhD,Nguyen Trong Tai</p>
            <p class="text-white font-bold ml-1"> Student:</p>
            <p class="ml-5 text-[#030391] text-lg">Nguyen Minh Thai - 1910526</p>
        </div>
        <div class="w-[650px] h-[300px] border-[inset] border-2 border-[#000000] pl-0 ml-10 mt-3 text-xl text-center">
            <h2 class="text-white">ABOUT ME</h2>

        </div>
    </div>
    <!--////////////// STATION CONTROL 1 /////////////-->
    <div id="Scr_Main"
        class="rounded-[10px] bg-none absolute left-[208px] top-[100px] w-[1234px] h-[766px] select-none">
        <!-- //////////////Code cho màn hình Auto////////////// -->
        <div id="Screen_Auto_Panel">
            <label style="margin-left:60px">STATION 1</label>
            <div id="box-1-auto">
                <div id="box-1-auto-name">OPERATION MODE</div>
                <button id="bttAuto_AutoMode"
                    onclick="socket.emit('cmd_Auto', true),fn_ScreenChange1('Screen_Auto','Screen_Manu'),fn_ScreenChange1('Screen_Auto_Panel','Screen_Manu_Panel');">AUTO</button>
                <!-- Nút nhấn chế độ bằng tay -->
                <button id="bttAuto_ManuMode"
                    onclick="socket.emit('cmd_Manu', true),fn_ScreenChange1('Screen_Manu','Screen_Auto'),fn_ScreenChange1('Screen_Manu_Panel','Screen_Auto_Panel');">MANUAL</button>
                <!-- Nút nhấn chế xác nhận vận hành -->
                <button id="bttAuto_Confirm" onclick="socket.emit('cmd_Confirm', true);">CONFIRM</button>
            </div>
            <div id="box-2-auto">
                <div id="box-2-auto-name">PARAMETER SETTING</div>
                <div id="box-2-auto-device-name">
                    <ol>
                        <li>Order ID:</li>
                        <li>Material 1:</li>
                        <li>Material 2:</li>
                        <li>Material 3:</li>
                        <li>Mix Time:</li>
                    </ol>
                </div>
                <!-- Cài đặt ID Sản phẩm-->
                <input id="set_orderID" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO("sql_OrderID", "set_orderID", 0);</script>
                <!-- Cài đặt trọng lượng liệu 1 -->
                <input id="set_Weight1" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO("Setting_Weight_1", "set_Weight1", 2);</script>
                <!-- Cài đặt trọng lượng liệu 2 -->
                <input id="set_Weight2" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO("Setting_Weight_2", "set_Weight2", 2);</script>
                <!-- Cài đặt trọng lượng liệu 3 -->
                <input id="set_Weight3" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO("Setting_Weight_3", "set_Weight3", 2);</script>
                <!-- Cài đặt thời gian trộn -->
                <input id="set_Time" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO("Setting_Time_Tron", "set_Time", 0);</script>
                <!--Nút nhấn sửa/lưu - Lưu ý: Nút nhấn lưu phải nằm trước nút nhấn sửa-->
                <button id="btt_scrAuto_Save" onclick="fn_scrAuto_SaveBtt()">Save</button>
                <button id="btt_scrAuto_Edit" onclick="fn_scrAuto_EditBtt()">Modify</button>
            </div>
            <div id="box-3-auto">
                <div id="box-3-auto-name">DATABASE</div>
                <!--Nút nhấn đẩy dữ liệu lên SQL-->
                <button id="btt_sql_on" onclick="socket.emit('cmd_sql_on', true);">SQL On</button>
                <button id="btt_sql_off" onclick="socket.emit('cmd_sql_off', true);">SQL Off</button>
                <button id="btt_sql_delete" onclick="socket.emit('cmd_sql_delete', true)">Del SQL</button>
            </div>
        </div>
        <div id="Screen_Auto">
            <!-- //////////////HIỂN THỊ SYMBOL ////////////// -->
            <img src="images/background_SCR.PNG">
            <!-- Ảnh nền -->
            <!-- Tạo động cơ trộn -->
            <img id="scrAuto_Motor_1">
            <script> fn_SymbolStatus("scrAuto_Motor_1", "Motor", "status_DC_Tron") </script>
            <!-- Tạo máy đóng gói -->
            <img id="scrAuto_Export">
            <script> fn_SymbolStatus("scrAuto_Export", "Export", "status_DC_Export") </script>
            <!-- Tạo van 1 -->
            <img id="scrAuto_Valve_1">
            <script> fn_SymbolStatus("scrAuto_Valve_1", "Valve", "status_Valve_1") </script>
            <!-- Tạo van 2 -->
            <img id="scrAuto_Valve_2">
            <script> fn_SymbolStatus("scrAuto_Valve_2", "Valve", "status_Valve_2") </script>
            <!-- Tạo van 3 -->
            <img id="scrAuto_Valve_3">
            <script> fn_SymbolStatus("scrAuto_Valve_3", "Valve", "status_Valve_3") </script>
            <!-- Cảm biến cạn -->
            <img id="scrAuto_Sensor">
            <script> fn_SymbolStatus("scrAuto_Sensor", "Sensor", "CB_Can") </script>
            <!-- Thu thành phẩm -->
            <img id="scrAuto_Done">
            <script> fn_SymbolStatus("scrAuto_Done", "Done", "CB_Can") </script>
            <!-- //////////////HIỂN THỊ CÁC IOFIELD ////////////// -->
            <!-- Giá trị thực tế liệu 1 -->
            <input id="act_Weight1" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_1", "act_Weight1", 2)</script>
            <!-- Giá trị thực tế liệu 2 -->
            <input id="act_Weight2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_2", "act_Weight2", 2)</script>
            <!-- Giá trị thực tế liệu 3 -->
            <input id="act_Weight3" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_3", "act_Weight3", 2)</script>
            <!-- Thời gian trộn thực tế -->
            <input id="act_Time" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Time_Tron", "act_Time", 0)</script>
        </div>
        <!-- //////////////Code cho màn hình Manu////////////// -->
        <div id="Screen_Manu_Panel">
            <!-- //////////////NÚT NHẤN ĐIỀU KHIỂN ////////////// -->
            <label style="margin-left:60px">STATION 1</label>
            <div id="box-1-manu">
                <div id="box-1-manu-name">OPERATION MODE</div>
                <!-- Nút nhấn chế độ tự động -->
                <button id="bttManu_AutoMode"
                    onclick="socket.emit('cmd_Auto', true),fn_ScreenChange1('Screen_Auto','Screen_Manu'),fn_ScreenChange1('Screen_Auto_Panel','Screen_Manu_Panel');">AUTO</button>
                <!-- Nút nhấn chế độ bằng tay -->
                <button id="bttManu_ManuMode"
                    onclick="socket.emit('cmd_Manu', true),fn_ScreenChange1('Screen_Manu','Screen_Auto'),fn_ScreenChange1('Screen_Manu_Panel','Screen_Auto_Panel');">MANUAL</button>
            </div>
            <div id="box-2-manu">
                <div id="box-2-manu-name">OPERATION MANUAL</div>
                <div id="box-2-manu-device-name">
                    <ol>
                        <li>Valve 1:</li>
                        <li>Valve 2:</li>
                        <li>Valve 3:</li>
                        <li>Mix :</li>
                        <li>Export :</li>
                    </ol>
                </div>
                <!-- Nút nhấn mở van 1 -->
                <button id="bttManu_OpenV1" onclick="socket.emit('cmd_OpenV1', true);">RUN</button>
                <!-- Nút nhấn ĐÓNG van 1 -->
                <button id="bttManu_CloseV1" onclick="socket.emit('cmd_CloseV1', true);">OFF</button>
                <!-- Nút nhấn mở van 2 -->
                <button id="bttManu_OpenV2" onclick="socket.emit('cmd_OpenV2', true);">RUN</button>
                <!-- Nút nhấn ĐÓNG van 2 -->
                <button id="bttManu_CloseV2" onclick="socket.emit('cmd_CloseV2', true);">OFF</button>
                <!-- Nút nhấn mở van 3 -->
                <button id="bttManu_OpenV3" onclick="socket.emit('cmd_OpenV3', true);">RUN</button>
                <!-- Nút nhấn ĐÓNG van 3 -->
                <button id="bttManu_CloseV3" onclick="socket.emit('cmd_CloseV3', true);">OFF</button>
                <!-- Nút nhấn CHẠY động cơ trộn -->
                <button id="bttManu_RunM1" onclick="socket.emit('cmd_RunM', true);">RUN</button>
                <!-- Nút nhấn DỪNG động cơ trộn -->
                <button id="bttManu_StopM1" onclick="socket.emit('cmd_StopM', true);">OFF</button>
                <!-- Nút nhấn CHẠY máy đóng gói -->
                <button id="bttManu_RunE" onclick="socket.emit('cmd_RunE', true);">RUN</button>
                <!-- Nút nhấn DỪNG máy đóng gói -->
                <button id="bttManu_StopE" onclick="socket.emit('cmd_StopE', true);">OFF</button>
            </div>
            <div id="box-3-manu">
                <div id="box-3-manu-name">DATABASE</div>
                <!--Nút nhấn đẩy dữ liệu lên SQL-->
                <button id="btt_sql_on_manu" onclick="socket.emit('cmd_sql_on', true);">SQL On</button>
                <button id="btt_sql_off_manu" onclick="socket.emit('cmd_sql_off', true);">SQL Off</button>
                <button id="btt_sql_delete_manu" onclick="socket.emit('cmd_sql_delete', true)">Del SQL</button>
            </div>
        </div>
        <div id="Screen_Manu">
            <!-- Ảnh nền -->
            <img src="images/background_SCR.PNG">
            <!-- //////////////HIỂN THỊ SYMBOL ////////////// -->
            <!-- Tạo động cơ trộn -->
            <img id="scrManu_Motor_1">
            <script> fn_SymbolStatus("scrManu_Motor_1", "Motor", "status_DC_Tron") </script>
            <!-- Tạo máy đóng gói -->
            <img id="scrManu_Export">
            <script> fn_SymbolStatus("scrManu_Export", "Export", "status_DC_Export") </script>
            <!-- Tạo van 1 -->
            <img id="scrManu_Valve_1">
            <script> fn_SymbolStatus("scrManu_Valve_1", "Valve", "status_Valve_1") </script>
            <!-- Tạo van 2 -->
            <img id="scrManu_Valve_2">
            <script> fn_SymbolStatus("scrManu_Valve_2", "Valve", "status_Valve_2") </script>
            <!-- Tạo van 3 -->
            <img id="scrManu_Valve_3">
            <script> fn_SymbolStatus("scrManu_Valve_3", "Valve", "status_Valve_3") </script>
            <!-- Cảm biến cạn -->
            <img id="scrManu_Sensor">
            <script> fn_SymbolStatus("scrManu_Sensor", "Sensor", "CB_Can") </script>
            <!-- Thu thành phẩm -->
            <img id="scrManu_Done">
            <script> fn_SymbolStatus("scrManu_Done", "Done", "CB_Can") </script>
            <!-- //////////////HIỂN THỊ CÁC IOFIELD ////////////// -->
            <!-- Giá trị thực tế liệu 1 -->
            <input id="actManu_Weight1" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_1", "actManu_Weight1", 2)</script>
            <!-- Giá trị thực tế liệu 2 -->
            <input id="actManu_Weight2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_2", "actManu_Weight2", 2)</script>
            <!-- Giá trị thực tế liệu 3 -->
            <input id="actManu_Weight3" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_3", "actManu_Weight3", 2)</script>
            <!-- Thời gian trộn thực tế -->
            <input id="actManu_Time" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Time_Tron", "actManu_Time", 0)</script>
        </div>
    </div>
    <!--///////////// STATION CONTROL 2 /////////////-->
    <div id="Scr_Main_s2"
        class="rounded-[10px] bg-none absolute left-[208px] top-[100px] w-[1234px] h-[766px] select-none">
        <div id="Screen_Auto_Panel_s2">
            <label style="margin-left:60px">STATION 2</label>
            <div id="box-1-auto_s2">
                <div id="box-1-auto-name_s2">OPERATION MODE</div>
                <button id="bttAuto_AutoMode_s2"
                    onclick="socket.emit('cmd_Auto_s2', true),fn_ScreenChange1('Screen_Auto_s2','Screen_Manu_s2'),fn_ScreenChange1('Screen_Auto_Panel_s2','Screen_Manu_Panel_s2');">AUTO</button>
                <!-- Nút nhấn chế độ bằng tay -->
                <button id="bttAuto_ManuMode_s2"
                    onclick="socket.emit('cmd_Manu_s2', true),fn_ScreenChange1('Screen_Manu_s2','Screen_Auto_s2'),fn_ScreenChange1('Screen_Manu_Panel_s2','Screen_Auto_Panel_s2');">MANUAL</button>
                <!-- Nút nhấn chế xác nhận vận hành -->
                <button id="bttAuto_Confirm_s2" onclick="socket.emit('cmd_Confirm_s2', true);">CONFIRM</button>
            </div>
            <div id="box-2-auto_s2">
                <div id="box-2-auto-name_s2">PARAMETER SETTING</div>
                <div id="box-2-auto-device-name_s2">
                    <ol>
                        <li>Order ID:</li>
                        <li>Material 1:</li>
                        <li>Material 2:</li>
                        <li>Material 3:</li>
                        <li>Mix Time:</li>
                    </ol>
                </div>
                <!-- Cài đặt ID Sản phẩm-->
                <input id="set_orderID_s2" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO_s2("sql_OrderID_s2", "set_orderID_s2", 0);</script>
                <!-- Cài đặt trọng lượng liệu 1 -->
                <input id="set_Weight1_s2" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO_s2("Setting_Weight_1_s2", "set_Weight1_s2", 2);</script>
                <!-- Cài đặt trọng lượng liệu 2 -->
                <input id="set_Weight2_s2" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO_s2("Setting_Weight_2_s2", "set_Weight2_s2", 2);</script>
                <!-- Cài đặt trọng lượng liệu 3 -->
                <input id="set_Weight3_s2" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO_s2("Setting_Weight_3_s2", "set_Weight3_s2", 2);</script>
                <!-- Cài đặt thời gian trộn -->
                <input id="set_Time_s2" disabled="disabled" type="text" />
                <script>fn_scrAuto_IOField_IO_s2("Setting_Time_Tron_s2", "set_Time_s2", 0);</script>
                <!--Nút nhấn sửa/lưu - Lưu ý: Nút nhấn lưu phải nằm trước nút nhấn sửa-->
                <button id="btt_scrAuto_Save_s2" onclick="fn_scrAuto_SaveBtt_s2()">Save</button>
                <button id="btt_scrAuto_Edit_s2" onclick="fn_scrAuto_EditBtt_s2()">Modify</button>
            </div>
            <div id="box-3-auto_s2">
                <div id="box-3-auto-name_s2">DATABASE</div>
                <!--Nút nhấn đẩy dữ liệu lên SQL-->
                <button id="btt_sql_on_s2" onclick="socket.emit('cmd_sql_on_s2', true);">SQL On</button>
                <button id="btt_sql_off_s2" onclick="socket.emit('cmd_sql_off_s2', true);">SQL Off</button>
                <button id="btt_sql_delete_s2" onclick="socket.emit('cmd_sql_delete_s2', true)">Del SQL</button>
            </div>
        </div>
        <div id="Screen_Auto_s2">
            <!-- //////////////HIỂN THỊ SYMBOL ////////////// -->
            <img src="images/background_SCR.PNG">
            <!-- Ảnh nền -->
            <!-- Tạo động cơ trộn -->
            <img id="scrAuto_Motor_1_s2">
            <script> fn_SymbolStatus("scrAuto_Motor_1_s2", "Motor", "status_DC_Tron_s2") </script>
            <!-- Tạo máy đóng gói -->
            <img id="scrAuto_Export_s2">
            <script> fn_SymbolStatus("scrAuto_Export_s2", "Export", "status_DC_Export_s2") </script>
            <!-- Tạo van 1 -->
            <img id="scrAuto_Valve_1_s2">
            <script> fn_SymbolStatus("scrAuto_Valve_1_s2", "Valve", "status_Valve_1_s2") </script>
            <!-- Tạo van 2 -->
            <img id="scrAuto_Valve_2_s2">
            <script> fn_SymbolStatus("scrAuto_Valve_2_s2", "Valve", "status_Valve_2_s2") </script>
            <!-- Tạo van 3 -->
            <img id="scrAuto_Valve_3_s2">
            <script> fn_SymbolStatus("scrAuto_Valve_3_s2", "Valve", "status_Valve_3_s2") </script>
            <!-- Cảm biến cạn -->
            <img id="scrAuto_Sensor_s2">
            <script> fn_SymbolStatus("scrAuto_Sensor_s2", "Sensor", "CB_Can_s2") </script>
            <!-- Thu thành phẩm -->
            <img id="scrAuto_Done_s2">
            <script> fn_SymbolStatus("scrAuto_Done_s2", "Done", "CB_Can_s2") </script>
            <!-- //////////////HIỂN THỊ CÁC IOFIELD ////////////// -->
            <!-- Giá trị thực tế liệu 1 -->
            <input id="act_Weight1_s2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_1_s2", "act_Weight1_s2", 2)</script>
            <!-- Giá trị thực tế liệu 2 -->
            <input id="act_Weight2_s2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_2_s2", "act_Weight2_s2", 2)</script>
            <!-- Giá trị thực tế liệu 3 -->
            <input id="act_Weight3_s2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_3_s2", "act_Weight3_s2", 2)</script>
            <!-- Thời gian trộn thực tế -->
            <input id="act_Time_s2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Time_Tron_s2", "act_Time_s2", 0)</script>
        </div>
        <!-- //////////////Code cho màn hình Manu////////////// -->
        <div id="Screen_Manu_Panel_s2">
            <!-- //////////////NÚT NHẤN ĐIỀU KHIỂN ////////////// -->
            <label style="margin-left:60px">STATION 2</label>
            <div id="box-1-manu_s2">
                <div id="box-1-manu-name_s2">OPERATION MODE</div>
                <!-- Nút nhấn chế độ tự động -->
                <button id="bttManu_AutoMode_s2"
                    onclick="socket.emit('cmd_Auto_s2', true),fn_ScreenChange1('Screen_Auto_s2','Screen_Manu_s2'),fn_ScreenChange1('Screen_Auto_Panel_s2','Screen_Manu_Panel_s2');">AUTO</button>
                <!-- Nút nhấn chế độ bằng tay -->
                <button id="bttManu_ManuMode_s2"
                    onclick="socket.emit('cmd_Manu_s2', true),fn_ScreenChange1('Screen_Manu_s2','Screen_Auto_s2'),fn_ScreenChange1('Screen_Manu_Panel_s2','Screen_Auto_Panel_s2');">MANUAL</button>
            </div>
            <div id="box-2-manu_s2">
                <div id="box-2-manu-name_s2">OPERATION MANUAL</div>
                <div id="box-2-manu-device-name_s2">
                    <ol>
                        <li>Valve 1:</li>
                        <li>Valve 2:</li>
                        <li>Valve 3:</li>
                        <li>Mix :</li>
                        <li>Export :</li>
                    </ol>
                </div>
                <!-- Nút nhấn mở van 1 -->
                <button id="bttManu_OpenV1_s2" onclick="socket.emit('cmd_OpenV1_s2', true);">RUN</button>
                <!-- Nút nhấn ĐÓNG van 1 -->
                <button id="bttManu_CloseV1_s2" onclick="socket.emit('cmd_CloseV1_s2', true);">OFF</button>
                <!-- Nút nhấn mở van 2 -->
                <button id="bttManu_OpenV2_s2" onclick="socket.emit('cmd_OpenV2_s2', true);">RUN</button>
                <!-- Nút nhấn ĐÓNG van 2 -->
                <button id="bttManu_CloseV2_s2" onclick="socket.emit('cmd_CloseV2_s2', true);">OFF</button>
                <!-- Nút nhấn mở van 3 -->
                <button id="bttManu_OpenV3_s2" onclick="socket.emit('cmd_OpenV3_s2', true);">RUN</button>
                <!-- Nút nhấn ĐÓNG van 3 -->
                <button id="bttManu_CloseV3_s2" onclick="socket.emit('cmd_CloseV3_s2', true);">OFF</button>
                <!-- Nút nhấn CHẠY động cơ trộn -->
                <button id="bttManu_RunM1_s2" onclick="socket.emit('cmd_RunM_s2', true);">RUN</button>
                <!-- Nút nhấn DỪNG động cơ trộn -->
                <button id="bttManu_StopM1_s2" onclick="socket.emit('cmd_StopM_s2', true);">OFF</button>
                <!-- Nút nhấn CHẠY máy đóng gói -->
                <button id="bttManu_RunE_s2" onclick="socket.emit('cmd_RunE_s2', true);">RUN</button>
                <!-- Nút nhấn DỪNG máy đóng gói -->
                <button id="bttManu_StopE_s2" onclick="socket.emit('cmd_StopE_s2', true);">OFF</button>
            </div>
            <div id="box-3-manu_s2">
                <div id="box-3-manu-name_s2">DATABASE</div>
                <!--Nút nhấn đẩy dữ liệu lên SQL-->
                <button id="btt_sql_on_manu_s2" onclick="socket.emit('cmd_sql_on_s2', true);">SQL On</button>
                <button id="btt_sql_off_manu_s2" onclick="socket.emit('cmd_sql_off_s2', true);">SQL Off</button>
                <button id="btt_sql_delete_manu_s2" onclick="socket.emit('cmd_sql_delete_s2', true)">Del SQL</button>
            </div>
        </div>
        <div id="Screen_Manu_s2">
            <!-- Ảnh nền -->
            <img src="images/background_SCR.PNG">
            <!-- //////////////HIỂN THỊ SYMBOL ////////////// -->
            <!-- Tạo động cơ trộn -->
            <img id="scrManu_Motor_1_s2">
            <script> fn_SymbolStatus("scrManu_Motor_1_s2", "Motor", "status_DC_Tron_s2") </script>
            <!-- Tạo máy đóng gói -->
            <img id="scrManu_Export_s2">
            <script> fn_SymbolStatus("scrManu_Export_s2", "Export", "status_DC_Export_s2") </script>
            <!-- Tạo van 1 -->
            <img id="scrManu_Valve_1_s2">
            <script> fn_SymbolStatus("scrManu_Valve_1_s2", "Valve", "status_Valve_1_s2") </script>
            <!-- Tạo van 2 -->
            <img id="scrManu_Valve_2_s2">
            <script> fn_SymbolStatus("scrManu_Valve_2_s2", "Valve", "status_Valve_2_s2") </script>
            <!-- Tạo van 3 -->
            <img id="scrManu_Valve_3_s2">
            <script> fn_SymbolStatus("scrManu_Valve_3_s2", "Valve", "status_Valve_3_s2") </script>
            <!-- Cảm biến cạn -->
            <img id="scrManu_Sensor_s2">
            <script> fn_SymbolStatus("scrManu_Sensor_s2", "Sensor", "CB_Can_s2") </script>
            <!-- Thu thành phẩm -->
            <img id="scrManu_Done_s2">
            <script> fn_SymbolStatus("scrManu_Done_s2", "Done", "CB_Can_s2") </script>
            <!-- //////////////HIỂN THỊ CÁC IOFIELD ////////////// -->
            <!-- Giá trị thực tế liệu 1 -->
            <input id="actManu_Weight1_s2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_1_s2", "actManu_Weight1_s2", 2)</script>
            <!-- Giá trị thực tế liệu 2 -->
            <input id="actManu_Weight2_s2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_2_s2", "actManu_Weight2_s2", 2)</script>
            <!-- Giá trị thực tế liệu 3 -->
            <input id="actManu_Weight3_s2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Weight_3_s2", "actManu_Weight3_s2", 2)</script>
            <!-- Thời gian trộn thực tế -->
            <input id="actManu_Time_s2" disabled="disabled" type="text" />
            <script>fn_IOFieldDataShow("Act_Time_Tron_s2", "actManu_Time_s2", 0)</script>
        </div>
    </div>
    <!--////////////// DATABASE /////////////-->
    <div id="Scr_SQL"
        class="rounded-[10px] border-[outset] border-[5px] border-[#0000ff] absolute left-[208px] top-[100px] w-[1234px] h-[766px] bg-[#1488D8] select-none text-[#ffffff] font-[Montserrat] font-bold">
        <div id="date-picker" class="absolute left-[14px] top-[10px] w-[1000px] h-[30px]">
            <!--Date time piker-->
            <label id="lb_Search_Start">From:</label>
            <input id="dtpk_Search_Start"
                class="bg-[#1488D8] border-[2px] border-[solid] border-[#0000ff] text-center w-[206px]"
                type="datetime-local">
            <label id="lb_Search_End">To:</label>
            <input id="dtpk_Search_End"
                class="bg-[#1488D8] border-[2px] border-[solid] border-[#0000ff] text-center w-[206px]"
                type="datetime-local">
            <!--Nút tìm kiếm-->
            <button id="btt_Search"
                class="border-[outset] border-[3px] border-[#587aa3] rounded-[999px] bg-[#808080] text-[#ffffff] text-center inline-block cursor-pointer absolute w-[120px] h-[30px] left-[600px] active:bg-[#0aca0a]"
                class="btn" onclick="fn_SQL_By_Time();"></i>Search</button>
            <!--Nút xuất báo cáo-->
            <button id="btt_Excel"
                class="border-[outset] border-[3px] border-[#587aa3] rounded-[999px] bg-[#808080] text-[#ffffff] text-center inline-block cursor-pointer absolute w-[120px] h-[30px] left-[730px] active:bg-[#0aca0a]"
                class="btn" onclick="fn_excel();"></i>Report</button>
            <label>STATION 1:</label>
        </div>
        <div id="SQL_Table">
            <table id="table_data">
                <thead>
                    <tr>
                        <th>Time Line</th>
                        <th>Order ID</th>
                        <th>Material 1 Setting</th>
                        <th>Material 2 Setting</th>
                        <th>Material 3 Setting</th>
                        <th>Mix Time Setting</th>
                        <th>Material 1 Actual</th>
                        <th>Material 2 Actual</th>
                        <th>Material 3 Actual</th>
                        <th>Mix Time Actual</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="date-picker_s2" class="absolute left-[14px] top-[390px] w-[1000px] h-[30px]">
            <!--Date time piker-->
            <label id="lb_Search_Start_s2">From:</label>
            <input id="dtpk_Search_Start_s2"
                class="bg-[#1488D8] border-[2px] border-[solid] border-[#0000ff] text-center w-[206px]"
                type="datetime-local">
            <label id="lb_Search_End_s2">To:</label>
            <input id="dtpk_Search_End_s2"
                class="bg-[#1488D8] border-[2px] border-[solid] border-[#0000ff] text-center w-[206px]"
                type="datetime-local">
            <!--Nút tìm kiếm-->
            <button id="btt_Search_s2"
                class="border-[outset] border-[3px] border-[#587aa3] rounded-[999px] bg-[#808080] text-[#ffffff] text-center inline-block cursor-pointer absolute w-[120px] h-[30px] left-[600px] active:bg-[#0aca0a]"
                class="btn" onclick="fn_SQL_By_Time_s2();"></i>Search</button>
            <!--Nút xuất báo cáo-->
            <button id="btt_Excel_s2"
                class="border-[outset] border-[3px] border-[#587aa3] rounded-[999px] bg-[#808080] text-[#ffffff] text-center inline-block cursor-pointer absolute w-[120px] h-[30px] left-[730px] active:bg-[#0aca0a]"
                class="btn" onclick="fn_excel_s2();"></i>Report</button>
            <label>STATION 2:</label>
        </div>
        <div id="SQL_Table_s2">
            <table id="table_data_s2">
                <thead>
                    <tr>
                        <th>Time Line</th>
                        <th>Order ID</th>
                        <th>Material 1 Setting</th>
                        <th>Material 2 Setting</th>
                        <th>Material 3 Setting</th>
                        <th>Mix Time Setting</th>
                        <th>Material 1 Actual</th>
                        <th>Material 2 Actual</th>
                        <th>Material 3 Actual</th>
                        <th>Mix Time Actual</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--////////////// ALARM /////////////-->
    <div id="Scr_Alarm"
        class="rounded-[10px] border-[outset] border-[5px] border-[#0000ff] absolute left-[208px] top-[100px] w-[1234px] h-[766px] bg-[#1488D8] select-none text-[#ffffff] font-[Montserrat] font-bold">
        <div id="alarm_picker" class="absolute left-[14px] top-[10px] w-[1000px] h-[30px]">
            <!--Date time piker-->
            <label id="lb_AL_Search_Start">From:</label>
            <input id="dtpk_AL_Search_Start"
                class="bg-[#1488D8] border-[2px] border-[solid] border-[#0000ff] text-center w-[206px]"
                type="datetime-local">
            <label id="lb_AL_Search_End">To:</label>
            <input id="dtpk_AL_Search_End"
                class="bg-[#1488D8] border-[2px] border-[solid] border-[#0000ff] text-center w-[206px]"
                type="datetime-local">
            <!--Nút tìm kiếm-->
            <button id="btt_AL_Search"
                class="border-[outset] border-[3px] border-[#b4b8e3] rounded-[999px] bg-[#808080] text-[#ffffff] text-center inline-block cursor-pointer absolute w-[120px] h-[30px] left-[600px] active:bg-[#0aca0a]"
                class="btn" onclick="fn_Alarm_By_Time();"></i>Search</button>
            <!--Nút xuất báo cáo-->
            <button id="btt_AL_Excel"
                class="border-[outset] border-[3px] border-[#b4b8e3] rounded-[999px] bg-[#808080] text-[#ffffff] text-center inline-block cursor-pointer absolute w-[120px] h-[30px] left-[730px] active:bg-[#0aca0a]"
                class="btn" onclick="fn_excel_al();"></i>Report</button>
            <label>STATION 1:</label>
        </div>
        <div id="Alarm_Table">
            <table id="table_Alarm">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Alarm Name</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="alarm_picker_s2" class="absolute left-[14px] top-[390px] w-[1000px] h-[30px]">
            <!--Date time piker-->
            <label id="lb_AL_Search_Start_s2">From:</label>
            <input id="dtpk_AL_Search_Start_s2"
                class="bg-[#1488D8] border-[2px] border-[solid] border-[#0000ff] text-center w-[206px]"
                type="datetime-local">
            <label id="lb_AL_Search_End_s2">To:</label>
            <input id="dtpk_AL_Search_End_s2"
                class="bg-[#1488D8] border-[2px] border-[solid] border-[#0000ff] text-center w-[206px]"
                type="datetime-local">
            <!--Nút tìm kiếm-->
            <button id="btt_AL_Search_s2"
                class="border-[outset] border-[3px] border-[#b4b8e3] rounded-[999px] bg-[#808080] text-[#ffffff] text-center inline-block cursor-pointer absolute w-[120px] h-[30px] left-[600px] active:bg-[#0aca0a]"
                class="btn" onclick="fn_Alarm_By_Time_s2();"></i>Search</button>
            <!--Nút xuất báo cáo-->
            <button id="btt_AL_Excel_s2"
                class="border-[outset] border-[3px] border-[#b4b8e3] rounded-[999px] bg-[#808080] text-[#ffffff] text-center inline-block cursor-pointer absolute w-[120px] h-[30px] left-[730px] active:bg-[#0aca0a]"
                class="btn" onclick="fn_excel_al_s2();"></i>Report</button>
            <label>STATION 2:</label>
        </div>
        <div id="Alarm_Table_s2">
            <table id="table_Alarm_s2">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Alarm Name</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!--////////////// TREND /////////////-->
    <div id="Scr_Diagram"
        class="rounded-[10px] border-[outset] border-[5px] border-[#0000ff] absolute left-[208px] top-[100px] w-[1234px] h-[766px] bg-[#1488D8] select-none font-[Montserrat] font-bold cursor-pointer">
        <!--//Code cho việc phân trạm//-->
        <label id="station-switch" class="toggle">
            <input type="checkbox" id="myCheckbox" onchange="doalert(this)" />
            <span class="slider"></span>
            <span class="labels" data-on="STA 2" data-off="STA 1"></span>
        </label>
        <!--//Màn hình tram 1//-->
        <div id="dia-weight1" class="absolute w-[1204px] h-[600px] left-[10px] top-[10px]">
            <button class="download-img" onclick="DownloadGraph1();DownloadGraph2();DownloadGraph3()"><img
                    src="/images/download.png"></button>
        </div>
        <div id="dia-weight2" class="absolute w-[1204px] h-[600px] left-[10px] top-[10px]">
            <button class="download-img" onclick="DownloadGraph1();DownloadGraph2();DownloadGraph3()"><img
                    src="/images/download.png"></button>
        </div>
        <div id="dia-weight3" class="absolute w-[1204px] h-[600px] left-[10px] top-[10px]">
            <button class="download-img" onclick="DownloadGraph1();DownloadGraph2();DownloadGraph3()"><img
                    src="/images/download.png"></button>
        </div>
        <div id="pag" class="pagination">
            <a
                onclick="fn_ScreenChangeMain('dia-weight1','dia-weight2','dia-weight3','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2')">1</a>
            <a
                onclick="fn_ScreenChangeMain('dia-weight2','dia-weight1','dia-weight3','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2')">2</a>
            <a
                onclick="fn_ScreenChangeMain('dia-weight3','dia-weight2','dia-weight1','dia-weight1_s2','dia-weight2_s2','dia-weight3_s2')">3</a>
        </div>
        <!--//Màn hình tram 2//-->
        <div id="dia-weight1_s2" class="absolute w-[1204px] h-[600px] left-[10px] top-[10px]">
            <button class="download-img" onclick="DownloadGraph1_s2();DownloadGraph2_s2();DownloadGraph3_s2()"><img
                    src="/images/download.png"></button>
        </div>
        <div id="dia-weight2_s2" class="absolute w-[1204px] h-[600px] left-[10px] top-[10px]">
            <button class="download-img" onclick="DownloadGraph1_s2();DownloadGraph2_s2();DownloadGraph3_s2()"><img
                    src="/images/download.png"></button>
        </div>
        <div id="dia-weight3_s2" class="absolute w-[1204px] h-[600px] left-[10px] top-[10px]">
            <button class="download-img" onclick="DownloadGraph1_s2();DownloadGraph2_s2();DownloadGraph3_s2()"><img
                    src="/images/download.png"></button>
        </div>
        <div id="pag_2" class="pagination">
            <a
                onclick="fn_ScreenChangeMain('dia-weight1_s2','dia-weight2_s2','dia-weight3_s2','dia-weight1','dia-weight2','dia-weight3')">1</a>
            <a
                onclick="fn_ScreenChangeMain('dia-weight2_s2','dia-weight1_s2','dia-weight3_s2','dia-weight1','dia-weight2','dia-weight3')">2</a>
            <a
                onclick="fn_ScreenChangeMain('dia-weight3_s2','dia-weight2_s2','dia-weight1_s2','dia-weight1','dia-weight2','dia-weight3')">3</a>
        </div>
    </div>
    <!--////////////// HOME /////////////-->
    <div id="Scr_Start"
        class="rounded-[10px] border-[outset] border-[5px] border-[#0000ff] bg-[#ffffff] absolute left-[208px] top-[100px] w-[1234px] h-[766px] select-none font-[Montserrat] font-bold text-center">
        DHBK Version 1.0.254
    </div>
    <script src="/js/FC4_Graph.js"></script>
</body>

</html>