/* Full-width input fields */
#inputuser[type="text"],
#inputpass[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Center the image and position the close button */
#img_container {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

#img_avatar {
  display: inline-block;
  width: 40%;
  background-color: none;
  border-radius: 50%;
}
#log_container{
  padding: 22px;
  border-radius: 0 0 20px 20px;
}
/* Modal Content/Box */
#modal-content {
  border-radius: 20px;
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 20%; 
  height: 490px; 
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn {
    width: 100%;
  }
}
