/*Màn hình AUTO*/
#Screen_Auto {
    border-radius: 10px;
    position: absolute; 
    left: 212px; top: 0px; 
    width: 1022px; height: 766px;
    background-color: #b6b6b6;
    border-bottom: inset 10px rgb(74, 74, 78);
    border-right: inset 10px rgb(74, 74, 78);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    user-select: none;
}
img{
    border-radius: 10px;
}
/*Van 1*/
#scrAuto_Valve_1 {
    position: absolute; 
    left: 110px; top: 173px; 
    width: 80px; height: 80px;
}
/*Van 2*/
#scrAuto_Valve_2 {
    position: absolute; 
    left: 494px; top: 172px; 
    width: 80px; height: 80px;
}
/*Van 3*/
#scrAuto_Valve_3 {
    position: absolute; 
    left: 686px; top: 250px; 
    width: 80px; height: 80px;
}

/*Động cơ trộn*/
#scrAuto_Motor_1 {
    position: absolute; 
    left: 270px; top: 250px; 
    width: 120px; height: 120px;
}
/*Động cơ đóng gói*/
#scrAuto_Export {
    position: absolute; 
    left: 278px; top: 582px; 
    width: 120px; height: 100px;
}
/*Cảm biến*/
#scrAuto_Sensor {
    position: absolute; 
    left: 84px; top: 460px; 
    width: 80px; height: 60px;
}
/*Nhận Hàng*/
#scrAuto_Done{
    position: absolute; 
    left: 600px; top: 640px; 
    width: 80px; height: 60px;
}
/*Giá trị thực tế Weight 1*/
#act_Weight1 {
    border: solid 2px black;
    position: absolute; 
    left: 30px; top: 50px; 
    width: 80px; height: 30px;
    text-align: center;
}
/*Giá trị thực tế Weight 2*/
#act_Weight2 {
    border: solid 2px black;
    position: absolute; 
    left: 590px; top: 50px; 
    width: 80px; height: 30px;
    text-align: center;
}
/*Giá trị thực tế Weight 3*/
#act_Weight3 {
    border: solid 2px black;
    position: absolute; 
    left: 830px; top: 50px; 
    width: 80px; height: 30px;
    text-align: center;
}
/*Giá trị thực tế thời gian*/
#act_Time {
    border: solid 2px #000000;
    position: absolute; 
    left: 190px; top: 396px; 
    width: 80px; height: 30px;
    text-align: center;
}
///////////////////////////////////////////////////
