#Screen_Manu_Panel {
    position: absolute; 
    left: 0px; top: 0px; 
    width: 202px; height: 766px;
    background-color: #1488D8;            
    border-bottom: solid 10px #0000ff;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
#box-1-manu{
    position: absolute;
    width: 192px; height: 100px; 
    left: 5px; top: 20px;
    border: inset 4px #0000ff;
    text-align: center;
    background-color: #fff          
}
#box-1-manu-name{
    position: absolute;
    width: 176px; height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 4px; top: 10px;
    background-color: #0000ff;
}
/*Nút nhấn chế độ tự động*/
#bttManu_AutoMode {
    border: outset 3px #b4b8e3;
    border-radius: 999px; 
    background-color: #3366ff;   
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 84px; height: 35px; 
    left: 5px; top: 50px;
}

/*Nút nhấn chế độ bằng tay*/
#bttManu_ManuMode {
    border: outset 3px #b4b8e3;
    border-radius: 999px;  
    background-color: #3366ff;   
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 84px; height: 35px;  
    right: 5px; top: 50px;
}
#bttManu_AutoMode:active{
    background-color: #00cc00;
}
#bttManu_ManuMode:active{
    background-color: #00cc00;
}
#box-2-manu{
    position: absolute;
    width: 192px; height: 250px; 
    left: 5px; top: 250px;
    border: inset 4px #0000ff;
    background-color: #fff          
}

#box-2-manu-name{
    position: absolute;
    width: 176px; height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 4px; top: 10px;
    background-color: #0000ff;
}
#box-2-manu-device-name{
    position: absolute;
    width: 70px; height: 170px;
    left: 5px; top: 55px;
    line-height: 2.1;
    color: #0000ff;
}
#box-3-manu{
    position: absolute;
    width: 192px; height: 150px; 
    left: 5px; top: 520px;
    border: inset 4px #0000ff;
    background-color: #fff 
}
#box-3-manu-name{
    position: absolute;
    width: 176px; height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 4px; top: 10px;
    background-color: #0000ff; 
}
/*Nút nhấn MỞ Van 1*/
#bttManu_OpenV1 {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;   
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 60px; top: 55px;
}

/*Nút nhấn ĐÓNG Van 1*/
#bttManu_CloseV1 {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 5px; top: 55px;
}


/*Nút nhấn MỞ Van 2*/
#bttManu_OpenV2 {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;   
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 60px; top: 90px;
}

/*Nút nhấn ĐÓNG Van 2*/
#bttManu_CloseV2 {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 5px; top: 90px;
}

/*Nút nhấn MỞ Van 3*/
#bttManu_OpenV3 {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 60px; top: 125px;
}

/*Nút nhấn ĐÓNG Van 3*/
#bttManu_CloseV3 {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 5px; top: 125px;
}


/*Nút nhấn CHẠY động cơ trộn*/
#bttManu_RunM1 {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080; 
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 60px; top: 160px;
}

/*Nút nhấn DỪNG động cơ trộn*/
#bttManu_StopM1 {
    border: outset 3px #b4b8e3; 
    border-radius: 999px;
    background-color: #808080;   
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 5px; top: 160px;
}
#bttManu_RunE{
    border: outset 3px #b4b8e3; 
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 60px; top: 195px;
}
#bttManu_StopE{
    border: outset 3px #b4b8e3; 
    border-radius: 999px;
    background-color: #808080;
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 50px; height: 30px; 
    right: 5px; top: 195px;
}
#bttManu_OpenV1:active{
    background-color: #00cc00; 
}
#bttManu_CloseV1:active{
    background-color: #ff0000; 
}
#bttManu_OpenV2:active{
    background-color: #00cc00; 
}
#bttManu_CloseV2:active{
    background-color: #ff0000; 
}
#bttManu_OpenV3:active{
    background-color: #00cc00; 
}
#bttManu_CloseV3:active{
    background-color: #ff0000; 
}
#bttManu_RunM1:active{
    background-color: #00cc00; 
}
#bttManu_StopM1:active{
    background-color: #ff0000; 
}
#bttManu_RunE:active{
    background-color: #00cc00; 
}
#bttManu_StopE:active{
    background-color: #ff0000;    
}
/*Thao tác đưa dữ liệu lên SQL*/
#btt_sql_on_manu{
    border: outset 3px #b4b8e3;
    border-radius: 999px;  
    background-color: #808080; 
    color: #ffffff;   
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 80px; height: 30px;  
    left: 5px; top: 50px;
}
#btt_sql_on_manu:active{
    background-color: #00cc00;
}
#btt_sql_off_manu{
    border: outset 3px #b4b8e3;
    border-radius: 999px;  
    background-color: #808080; 
    color: #ffffff;   
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 80px; height: 30px;  
    right: 5px; top: 50px;
}
#btt_sql_off_manu:active{
    background-color: #00cc00;
}
#btt_sql_delete_manu{
    border: outset 3px #b4b8e3;
    border-radius: 999px; 
    background-color: #808080; 
    color: #ffffff;   
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 120px; height: 30px;  
    right: 30px; top: 100px;
}
#btt_sql_delete_manu:active{
    background-color: #ff0000;
}

////////////////////////////////////////////////////

