/*Slide bar chính*/
#slidebar {
    border-radius: 10px;
    position: absolute; 
    left: 5px; top: 100px; 
    width: 198px; height: 600px;
    background-color: #030391;
    color: #ffffff;
    font-size: 14px; 
    font-weight: bold;
    font-family: Montserrat;
    cursor: pointer;
    user-select: none;
}
/*Nút Màn chính*/
#btt_Screen_Start{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; top: 20px;
    user-select: none;
}
#btt_Screen_Start:active{
    background-color: #ffb600; 
}
#btt_Screen_Main{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; top: 80px;
    user-select: none;
}
#btt_Screen_Main:active{
    background-color: #ffb600;
}
#Auto_LED{
    width: 50px; height: 50px; 
}
#Manual_LED{
    width: 50px; height: 50px; 

}
figure:nth-of-type(1){
    position: absolute;
    box-sizing: border-box;
    left: 20px; top: 140px;
    text-align: center;
}
figure:nth-of-type(2){
    position: absolute;
    box-sizing: border-box;
    right: 30px; top: 140px;
    text-align: center;
}
#btt_Screen_Main_s2{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; top: 220px;
    user-select: none;
}
#btt_Screen_Main_s2:active{
    background-color: #ffb600;
}
#Auto_LED_s2{
    width: 50px; height: 50px; 
}
#Manual_LED_s2{
    width: 50px; height: 50px; 
}
figure:nth-of-type(3){
    position: absolute;
    box-sizing: border-box;
    left: 20px; top: 280px;
    text-align: center;
}
figure:nth-of-type(4){
    position: absolute;
    box-sizing: border-box;
    right: 30px; top: 280px;
    text-align: center;
}
#btt_Screen_SQL{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; bottom:200px;
    user-select: none;
}
#btt_Screen_SQL:active{
    background-color: #ffb600;
}
#btt_Screen_Diagram{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; bottom:140px;
    user-select: none;
}
#btt_Screen_Diagram:active{
    background-color: #ffb600;
}
#btt_Screen_Alarm{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; bottom:80px;
    user-select: none;
}
#btt_Screen_Alarm:active{
    background-color: #ffb600;
}
#btt_Screen_About{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: inline-block;
    position: absolute; 
    width: 150px; height: 40px; 
    left: 22px; bottom: 20px;
    user-select: none;
}
#btt_Screen_About:active{
    background-color: #ffb600;
}