#box-1-auto{
    border: inset #0000ff 4px;
}
#bttAuto_AutoMode{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
}
#bttAuto_ManuMode{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
}
#bttAuto_Confirm{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
}
.systembtn{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
}
#box-2-auto{
    border: inset 4px #0000ff;
}
#box-3-auto{
    border: inset 4px #0000ff;
}
/*Nút nhấn LƯU*/
#btt_scrAuto_Save {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
}
/*Nút nhấn SỬA*/
#btt_scrAuto_Edit {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
}
/*Thao tác đưa dữ liệu lên SQL*/
#btt_sql_on{
    border: outset 3px #b4b8e3;
    border-radius: 999px;  
}
#btt_sql_off{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
}
#btt_sql_delete{
    border: outset 3px #b4b8e3;
    border-radius: 999px; 
}
//////////////////////////////////////////////