#box-1-manu,
#box-2-manu,
#box-3-manu {
  border: inset 4px #0000ff;
}
#bttManu_AutoMode,
#bttManu_ManuMode,
#bttManu_OpenV1,
#bttManu_CloseV1,
#bttManu_OpenV2,
#bttManu_CloseV2,
#bttManu_OpenV3,
#bttManu_CloseV3,
#bttManu_RunM1,
#bttManu_StopM1,
#bttManu_RunE,
#bttManu_StopE,
#btt_sql_on_manu,
#btt_sql_off_manu,
#btt_sql_delete_manu {
  border: outset 3px #b4b8e3;
  border-radius: 999px;
}
