#box-1-auto,
#box-2-auto,
#box-3-auto {
  border: inset #0000ff 4px;
}
#bttAuto_AutoMode,
#bttAuto_ManuMode,
#bttAuto_Confirm,
.systembtn,
#btt_scrAuto_Save,
#btt_scrAuto_Edit,
#btt_sql_on,
#btt_sql_off,
#btt_sql_delete {
  border: outset 3px #b4b8e3;
  border-radius: 999px;
}