/*Màn hình 1*/
#Screen_Manu_s2 {
    border-radius: 10px;
    position: absolute; 
    left: 212px; top: 0px; 
    width: 1022px; height: 766px;
    background-color: #b6b6b6;
    border-bottom: inset 10px #4a4a4e;
    border-right: inset 10px #4a4a4e;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    user-select: none;
}
img{
    border-radius: 10px;
}
/*Van 1*/
#scrManu_Valve_1_s2 {
    position: absolute; 
    left: 110px; top: 173px; 
    width: 80px; height: 80px;
}
/*Van 2*/
#scrManu_Valve_2_s2 {
    position: absolute; 
    left: 494px; top: 172px; 
    width: 80px; height: 80px;
}
/*Van 3*/
#scrManu_Valve_3_s2 {
    position: absolute; 
    left: 686px; top: 250px; 
    width: 80px; height: 80px;
}

/*Động cơ trộn*/
#scrManu_Motor_1_s2 {
    position: absolute; 
    left: 270px; top: 250px; 
    width: 120px; height: 120px;
}
/*Động cơ đóng gói*/
#scrManu_Export_s2{
    position: absolute; 
    left: 278px; top: 582px; 
    width: 120px; height: 100px;
}
/*Cảm biến*/
#scrManu_Sensor_s2 {
    position: absolute; 
    left: 84px; top: 460px; 
    width: 80px; height: 60px;
}
/*Nhận Hàng*/
#scrManu_Done_s2{
    position: absolute; 
    left: 600px; top: 640px; 
    width: 80px; height: 60px;
}
/*Giá trị thực tế Weight 1*/
#actManu_Weight1_s2 {
    border: solid 2px #000000;
    position: absolute; 
    left: 30px; top: 50px; 
    width: 80px; height: 30px;
    text-align: center;
}
/*Giá trị thực tế Weight 2*/
#actManu_Weight2_s2 {
    border: solid 2px #000000;
    position: absolute; 
    left: 590px; top: 50px; 
    width: 80px; height: 30px;
    text-align: center;
}
/*Giá trị thực tế Weight 3*/
#actManu_Weight3_s2 {
    border: solid 2px #000000;
    position: absolute; 
    left: 830px; top: 50px; 
    width: 80px; height: 30px;
    text-align: center;
}
/*Giá trị thực tế thời gian*/
#actManu_Time_s2 {
    border: solid 2px #000000;
    position: absolute; 
    left: 190px; top: 396px; 
    width: 80px; height: 30px;
    text-align: center;
}