#box-1-manu,
#box-2-manu,
#box-3-manu,
#box-1-manu_s2,
#box-2-manu_s2,
#box-3-manu_s2 {
  border: inset 4px #0000ff;
}
#bttManu_AutoMode,
#bttManu_ManuMode,
#bttManu_OpenV1,
#bttManu_CloseV1,
#bttManu_OpenV2,
#bttManu_CloseV2,
#bttManu_OpenV3,
#bttManu_CloseV3,
#bttManu_RunM1,
#bttManu_StopM1,
#bttManu_RunE,
#bttManu_StopE,
#btt_sql_on_manu,
#btt_sql_off_manu,
#btt_sql_delete_manu,
#bttManu_AutoMode_s2,
#bttManu_ManuMode_s2,
#bttManu_OpenV1_s2,
#bttManu_CloseV1_s2,
#bttManu_OpenV2_s2,
#bttManu_CloseV2_s2,
#bttManu_OpenV3_s2,
#bttManu_CloseV3_s2,
#bttManu_RunM1_s2,
#bttManu_StopM1_s2,
#bttManu_RunE_s2,
#bttManu_StopE_s2,
#btt_sql_on_manu_s2,
#btt_sql_off_manu_s2,
#btt_sql_delete_manu_s2 {
  border: outset 3px #b4b8e3;
  border-radius: 999px;
}
