#box-1-auto_s2,
#box-2-auto_s2,
#box-3-auto_s2 {
  border: inset #0000ff 4px;
}
#bttAuto_AutoMode_s2,
#bttAuto_ManuMode_s2,
#bttAuto_Confirm_s2,
#btt_scrAuto_Save_s2,
#btt_scrAuto_Edit_s2,
#btt_sql_on_s2,
#btt_sql_off_s2,
#btt_sql_delete_s2 {
  border: outset 3px #b4b8e3;
  border-radius: 999px;
}