.logo_btn i{
    margin-right: 24px;
    margin-left: -40px;
}
.logo_btn_2 i{
    margin-right: 15px;
    margin-left: -30px;
}
.logo_btn,.logo_btn_2 {
    border: outset 3px #b4b8e3;
    border-radius: 999px;
}