/*Nút Màn chính*/
#btt_Screen_Start,#btt_Screen_Main,#btt_Screen_Main_s2,#btt_Screen_SQL,#btt_Screen_Diagram,#btt_Screen_Alarm,#btt_Screen_About{
    border: outset 3px #b4b8e3;
    border-radius: 999px;
    background-color: #808080;  
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    user-select: none;
}
#Auto_LED,#Manual_LED,#Auto_LED_s2,#Manual_LED_s2{
    width: 50px; height: 50px; 
}
#btt_Screen_Start:active,#btt_Screen_Main:active,#btt_Screen_Main_s2:active,#btt_Screen_SQL:active,#btt_Screen_Diagram:active,#btt_Screen_Alarm:active,#btt_Screen_About:active{
    background-color: #ffb600; 
}
.logo_btn i{
    margin-right: 24px;
    margin-left: -40px;
}
.logo_btn_2 i{
    margin-right: 15px;
    margin-left: -30px;
}